<div layout="column" style="height: 500px;" ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="app">
  <section layout="row" flex="">

    <md-content flex="" layout-padding="">
      <div layout="column" layout-align="top center">
        <div flex="50">
        <h1>Hello World</h1>
        <p>
          Developers can also disable the backdrop of the sidenav.<br> This will disable the functionality to click outside to close the sidenav.
        </p>
        <div>
          <md-button ng-click="$ctrl.toggleLeft()" class="md-raised">
            Toggle Right Sidenav
          </md-button>
        </div>
        </div>
      </div>
    </md-content>

    <md-sidenav class="md-sidenav-right" md-component-id="right" md-disable-backdrop="" md-whiteframe="4">
      <md-toolbar class="md-theme-indigo">
        <h1 class="md-toolbar-tools">Food Search</h1>
      </md-toolbar>
      <md-content layout-margin="">

        <!--************************ -->
        <form novalidate name="searchFood" ng-submit="$ctrl.searchFood()"> <!--$ctrl.-->

          <div class="formField dFlex" ng-class="{'has-error': searchFood.name.$invalid && searchFood.name.$touched,'has-success': searchFood.name.$valid,}">
            <label for="name">Name :</label>
            <input id="name" type="text" class="form-control" required ng-minlength="3" ng-model="$ctrl.post.name" ng-model-options="{ updateOn: 'blur' }"></input>
            <div class="error-container" ng-show="searchFood.name.$dirty && searchFood.name.$invalid">
              <small class="error" ng-show="searchFood.name.$error.required">Please input a Name</small>
              <small class="error" ng-show="searchFood.name.$error.minlength">Name is required to be at least 3 characters</small>
              <!-- <small class="error" ng-show="searchBeer.body.$error.maxlength">Title cannot be longer than 20 characters</small> -->
            </div>
          </div>



          <div class="form-group">
            <button type="submit" class="btn btn-primary formField"> <!-- ng-disabled="searchBeer.$invalid"-->
              Search
            </button>
          </div>

        </form>
        <!--************************ -->

        <p>
          This sidenav is not showing any backdrop, where users can click on it, to close the sidenav.
        </p>
        <md-button ng-click="$ctrl.toggleLeft()" class="md-accent">
          Close this Sidenav
        </md-button>
      </md-content>
    </md-sidenav>

  </section>
</div>
