<h1 ng-show="$ctrl.beers.length">Beer Search Results</h1>

<ang-accordion one-at-a-time="true">
  <collapsible-item ng-repeat="beer in $ctrl.beers" item-title={{beer.name}}>
    <div layout="row">
      <div layout="column">
        <div flex>{{beer.tagline  }}</div> <!--tagline:   -->
        <md-divider></md-divider>
        <hr>
        <div flex>{{beer.description}}</div> <!--description:   -->
      </div>
      <div layout="row">
        <div  flex>
          <img src="{{beer.image_url}}" height="200"> <!--image_url:    -->
        </div>
      </div>
    </div>

    <div layout="column">
      <hr>
      <md-divider></md-divider>
      <hr>
    </div>

    <div layout="row">
          <div flex>ABV: {{beer.abv  }}</div>
          <div flex>IBU:   {{beer.ibu  }}</div>
          <div flex>PH:   {{beer.ph}}</div>
    </div>
    <div layout="row">
          <div flex>EBC: {{beer.ebc}}</div>
          <div flex>SRM: {{beer.srm   }}</div>
          <div flex>Color: {{}}</div>
    </div>
    <div layout="row">
          <div flex>Attenuation level: {{beer.attenuation_level}}</div>
          <div flex>Recipies Button</div>
    </div>

    <div layout="column">
      <hr>
      <md-divider></md-divider>
      <hr>
    </div>

    <div layout="column">
      <div>Food Pairing  :</div>
      <div ng-repeat="dish in beer.food_pairing" ng-click="$ctrl.recipeSearch(dish)">{{dish}}</div>
    </div>

  </collapsible-item>
</ang-accordion>

<!-- <div>attenuation_level:   {{beer.attenuation_level}}</div>
<div>boil_volume .value:     {{beer.boil_volume.value}}</div>
<div>boil_volume .unit:     {{beer.boil_volume.unit}}</div>
<div>brewers_tips:     {{beer.brewers_tips}}</div>
 <div> id:   {{beer.id  }}</div>
<div>ingredients .malt:   {{beer.ingredients.malt }}</div>
 <div>ingredients .hops  : {{beer.ingredients.hops  }}</div>
 <div>ingredients .yeast:   {{beer.ingredients.yeast }}</div>
<div>method .mash_temp:   {{beer.method.mash_temp }}</div>
<div>method .fermentation:   {{beer.method.fermentation}}</div>
<div>method .twist  : {{beer.method.twist }}</div>
<div>ph:     {{beer.ph    }}</div>
  <div>target_fg :    {{beer.target_fg}}</div>
<div>target_og:   {{beer.target_og  }}</div>
<div>volume.value:   {{beer.volume.value}}</div>
<div>volume.unit:   {{beer.volume.unit}}</div> -->
<div ng-repeat="beer in $ctrl.beers"> <!---->
  <div>food_pairing  :</div>
  <div ng-repeat="dish in beer.food_pairing" ng-click="$ctrl.recipeSearch(dish)">{{dish}}</div>
  <div>Boil Volume: {{beer.boil_volume.unit}} {{beer.boil_volume.value}}</div>
  <div>Malts:</div>
  <div ng-repeat="malt in beer.ingredients.malt">
    <div>{{malt.amount.value}} {{malt.amount.unit}} of {{malt.name}}</div>
  </div>
  <div>Mash Instructions:</div>
  <div ng-repeat="mash in beer.method.mash_temp">
    <div>{{mash.duration}} minutes at {{mash.temp.value}} {{mash.temp.unit}}</div>
  </div>
  <div>Hops (start):</div>
    <div ng-repeat="hop in beer.ingredients.hops.start">
      <div>{{hop.amount.value}} {{hop.amount.unit}} of {{hop.name}} (for {{hop.attribute}})</div>
    </div>
  <div>Hops (middle):</div>
    <div ng-repeat="hop in beer.ingredients.hops.middle">
      <div>{{hop.amount.value}} {{hop.amount.unit}} of {{hop.name}} (for {{hop.attribute}})</div>
    </div>
  <div>Hops (end):</div>
    <div ng-repeat="hop in beer.ingredients.hops.end">
      <div>{{hop.amount.value}} {{hop.amount.unit}} of {{hop.name}} (for {{hop.attribute}})</div>
    </div>
  <div>Hops (dry hopped):</div>
    <div ng-repeat="hop in beer.ingredients.hops.dry">
      <div>{{hop.amount.value}} {{hop.amount.unit}} of {{hop.name}} (for {{hop.attribute}})</div>
    </div>
  <div>Yeast: {{beer.ingredients.yeast}}</div>
  <div>Fermentation Instructions: {{beer.method.fermentation.temp.value}} {{beer.method.fermentation.temp.unit}}</div>
  <div>Attenuation level: {{beer.attenuation_level}}</div>
  <div>Orig./Final Specific Gravity: {{beer.target_og}}/{{beer.target_fg}}</div>
  <div>Brewers Tip's: {{beer.brewers_tips}}</div>
  <div>Twist: {{beer.method.twist}}</div>
  <div>contributed_by:     {{beer.contributed_by}}</div>
  <div>first_brewed    : {{beer.first_brewed    }}</div>

  <br>
</div>


<!-- {{malt.amount.value}} {{malt.amount.unit}} of {{malt.name}} -->
