.media-object {
  max-width: 200px;
}

[ng-click] {
  cursor: pointer;
}

.search-form {
  margin-top: 4px;
}

main.container {
  margin-bottom: 4em;
}

input.ng-dirty.ng-invalid {
  border:1px solid #f00;
}

input.ng-dirty.ng-valid {
  border:1px solid #0f0;
}

.formField {
  margin: 15px 0 0 0;
}

.leftMargin {
  margin: 0 0 0 15px;
}

textarea.ng-dirty.ng-invalid {
  border:1px solid #f00;
}

textarea.ng-dirty.ng-valid {
  border:1px solid #0f0;
}

.crop {
    width: 240px;
    height: 180px;
    overflow: hidden;
}

.crop img {
    width: 240px;
    height: 180px;
    margin: 0 -75px 0 0px;
}

.col-md-3 {
  padding: 0 15px 0 0;
}

.centerElement {
  text-align: center;
}

.well {
  padding-bottom: 0;
}
